@font-face {
    font-family: "JetBrainsMono";
    src: url("./fonts/JetBrains Mono Regular Nerd Font Complete Mono.ttf");
}

:root {
    --main-col: #00ff00;
    --accent-col: #005f00;
    --animation-time: 0.2s;
    --animation-time-sec: 1s;
}

html {
    user-select: none;
}

body {
    color: var(--main-col);
    background-color: rgba(0, 0, 0, 0.8);
    font-family: JetBrainsMono;
    font-size: 12pt;
}

input[type="range"] {
    cursor: pointer;
    -webkit-appearance: none;
    appearance: none;
    height: 5px;
    background: var(--accent-col);
}

input[type="range"]:hover {
    background: linear-gradient(90deg, rgba(0,95,0,1) 0%, rgba(0,255,0,1) 100%);
}

input[type="range"]::-moz-range-thumb,
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    border: 1px solid black;
    margin-top: -10px;
    background-color: var(--main-col);
}

