.expand-button-outer {
    position: absolute;
    pointer-events: none;
    transition: all var(--animation-time), opacity var(--animation-time) var(--animation-time);
    z-index: -10;
    opacity: 1;
}

.expand-button-inner {
    color: var(--main-col);
    transition: all var(--animation-time-sec);
    cursor: pointer;
}

.sel-expand-button-outer {
    background-color: var(--main-col);
    z-index: -10;
}

.sel-expand-button-inner {
    color: black;
}
