.nav-container {
    position: sticky;
    top: 0;
    background-color: var(--background-col);
    display: grid;
    align-items: center;
    margin-bottom: 15px;
    grid-auto-columns: 1fr;
}

.nav-item {
    grid-row: 1;
    height: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    border-right: 2px solid var(--accent-col);
}

/* How to select the first child of parent with a specific class:
 * Selects all elems with class nav-item that are children of nav-container
 * giving them a left border.
 * Then select those same elems but give them border none
 * if they have a nav-item before them.
 */
.nav-container > .nav-item {
    border-left: 2px solid var(--accent-col);
}
.nav-container > .nav-item ~ .nav-item {
    border-left: none;
}

#hover-indicator {
    position: absolute;
    height: 4px;
    background-color: var(--main-col);
    transition: all var(--animation-time);
}

.nav-item::before {
    font-size: 2em;
    content: "[";
    vertical-align: middle;
    color: var(--accent-col);
    transition: all var(--animation-time);
}

.nav-item.sel-expand-button-inner::before {
    font-size: 1em;
    content: "[";
    color: var(--background-col);
    transition: all var(--animation-time);
}

.nav-item::after {
    font-size: 2em;
    content: "]";
    vertical-align: middle;
    color: var(--accent-col);
    transition: all var(--animation-time);
}

.nav-item.sel-expand-button-inner::after {
    font-size: 1em;
    content: "]";
    color: var(--background-col);
    transition: all var(--animation-time);
}
