.nav-container {
    display: grid;
    align-items: center;
    margin-bottom: 4px;
    grid-auto-columns: 1fr;
}

.nav-item {
    grid-row: 1;
    height: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    border-right: 2px solid var(--accent-col);
}

.nav-item:first-child {
    border-left: 2px solid var(--accent-col);
}

#hover-indicator {
    position: absolute;
    height: 4px;
    background-color: var(--main-col);
    transition: all var(--animation-time);
}

.nav-item::before {
    font-size: 2em;
    content: "[";
    vertical-align: middle;
    color: var(--accent-col);
    transition: all var(--animation-time);
}

.nav-item.sel-expand-button-inner::before {
    font-size: 1em;
    content: "[";
    color: black;
    transition: all var(--animation-time);
}

.nav-item::after {
    font-size: 2em;
    content: "]";
    vertical-align: middle;
    color: var(--accent-col);
    transition: all var(--animation-time);
}

.nav-item.sel-expand-button-inner::after {
    font-size: 1em;
    content: "]";
    color: black;
    transition: all var(--animation-time);
}
