.todo-item {
    display: flex;
    align-items: center;
    opacity: 0;
    transition: opacity var(--animation-time);
}

.todo-checkbox {
    border: 2px solid var(--accent-col);
    height: 1em;
    width: 1em;
    margin: 1em;
    cursor: pointer;
    transition: all var(--animation-time);
}

